<mat-toolbar class="app-header">
    <span class="nav-tool-items">
        <a mat-button routerLink="signin" routerLinkActive="active">Reservas</a>
        <a mat-button routerLink="signin" routerLinkActive="active">Empréstimos</a>
        <a mat-button routerLink="signin" routerLinkActive="active">Categorias</a>
    </span>
    <button mat-fab disabled aria-label="Example icon button with a heart icon"></button>
</mat-toolbar>
<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <h1>Login realizado com sucesso!</h1>
</div>