body {
    background-color: white;
    margin: 0;
}

/* header */

header {
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imagem {
    background: #EDF2F4;
    border: 4.07313px solid #2B2D42;
    border-radius: 22.6932px;
    width: 85.54px;
    height: 85.54px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(1.62925px 3.2585px 6.51701px rgba(43, 45, 66, 0.6));
    align-items: center;
}

.livro {
    align-items: center;
    display: flex;
    width: 70%;
}

.imagem > img {
    width: 36.58px;
    height: 61.1px;
}

.titulo > h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 29.3265px;
    line-height: 40px;
    color: #2B2D42;
    margin: 0;
    margin-left: 15px;
}

.titulo > h3 {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16.2925px;
    line-height: 22px;
    color: #8D99AE;
    margin: 0;
    margin-left: 15px;
}

header > a {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 31px;
    text-align: right;
    color: #EF233C;
    text-decoration: none;
}

/* main */

main {
    padding-left: 30%;
    padding-right: 30%;
}

.form {
    margin-top: 8%;
    display: flex;
    justify-content: space-between;
}

.form > div {
    width: 40%;
}

.titulo-input {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 31px;
    color: #2B2D42;
}

.input {
    height: 50px;
    border: 2px solid #2B2D42;
    border-radius: 8px;
    color: rgb(82, 82, 82, 0.5);
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    padding-left: 4%;
    outline: none;
    color: #2B2D42;
}

.botao {
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

.botao > button {
    cursor: pointer;
    border: none;
    font-size: 18px;
    width: 250px;
    height: 50px;
    background: #EF233C;
    box-shadow: 0px 2px 12px #EF233C;
    border-radius: 18px;
}

button > a {
    text-decoration: none;
    color: #EDF2F4;
}