<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservar</title>
</head>
<body>
    <header>
        <div class="livro">
            <div class="imagem">
                <img src="../../../assets/dune.png" alt="">
            </div>
            <div class="titulo">
                <h1>Redes de Computadores</h1>
                <h3>Esther Howard</h3>
            </div>
        </div>
        <a href="/home">Trocar...</a>
    </header>

    <main>
        <div class="form">
            <div>
                <h4 class="titulo-input">CPF</h4>
                <input placeholder="123.456.789-01" class="input" type="text">
            </div>
            <div>
                <h4 class="titulo-input">Telefone</h4>
                <input placeholder="(11) 91234-5678" class="input" type="text">
            </div>
        </div>
        <div class="form">
            <div>
                <h4 class="titulo-input">Data</h4>
                <input placeholder="08/06/2002" class="input" type="text">
            </div>
        </div>
        <div class="botao">
            <button routerLink="/sucesso">Reservar</button>
        </div>
    </main>
</body>
</html>
